<h2>ショッピングカート</h2>

<%= link_to "カートを空にする", cart_product_path, method: :delete, class:"btn btn-danger btn-cart_product_all_destroy" %>

<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @cart_products.each do |cart_product| %>
    <tr>
      <td>
        <%= cart_product.product.name %>
      </td>
      <td>
        <%= cart_product.product.excluding_tax_pr %>
      </td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.membership_status == false%>
          <p><i class="text-secondary"></i>退会</p>
        <% else %>
          <p><i class="text-success"></i>有効</p>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>