
 <footer class="footer">
   <div class="container-fluid">
    <div class="row">
     <div class="col-md-4">
       <span>ながのけーき</span>
     </div>
    <div class="col-md-8">
     <address>
      <dl>
       <dt>ながのケーキ</dt>
       <dd>〒123-4567 長野県長野市12-3</dd>
       <dd>Tel 01-2345-6789 Fax 01-2345-6789</dd>
       <dd>長野駅より徒歩10分</dd>
       <dd>月～金　AM 9:00 ～ PM 9:00 </dd>
       <div class="icon">
        <i class="fab fa-line"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-facebook-square"></i>
       </icon>
      </dl>
     </address>
    </div>
    </div>
   </div>
   <div class="copyright">
    Copyright &copy; Naganocake
   </div>
  </footer>
